doctype html
html(lang="en")
  head
    title React seeder
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="robots" content="noindex, nofollow")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="/Static/css/app.min.css")

  body
    .container#react-app
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/Static/js/bundle.js")
