body
	font-family 'Open Sans', 'Sans Serif'
	font-weight 400
	// lost-utility edit

.container
	lost-center 1140px 1.5em
	lost-utility clearfix

.span2
	color #000000
	lost-column 1/2

.form
	.form-group
		input
			float left
			width 100%
			padding 0.2em
			margin-bottom 10px
			border none
			border-bottom 1px solid #ddd
		input[type=submit]
			width 100px
			background none
			border 1px solid #ddd
			padding 10px 0px

.table_wrapper
	box-sizing border-box
	border 1px solid #ddd
	border-radius 0.30em
	margin-bottom 20px
.table
	width 100%
	max-width 100%
	th
		// border-bottom 2px solid #ddd
		vertical-align bottom
		padding 8px
    line-height 1.42857143
		text-align left
	td
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: top;
		border-top: 1px solid #ddd;
	// width 100%
	// max-width 100%

// input
// 	display block
