[*.styl]
indent_style = tab
indent_size = 2


[*.jade]
indent_style = tab
indent_size = 2

[*.{js,ts,coffee,es6,jsx}]
indent_style = tab
indent_size = 2

[*.scss]
indent_style = tab
indent_size = 4

[*.{html,php}]
indent_style = tab
indent_size = 4
